page-index-siswa {
    
    .backimage{
        background-image: url( 'https://cla.umn.edu/sites/cla.umn.edu/files/booksonyellowbg-istock_000045605594_full_optimized.jpg');
        background-position: 0%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .pelajaran-page {
        ion-note {
          font-size: 12px;
          align-self: flex-start;
          margin-top: 14px;
        }
      }

      .center{
        font-size: 16px;
        text-align: center;
        padding: 10%;
      }

      .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }

}
