page-profile2 {
    
    .backimage{
        background-image: url('https://beaconsfieldss.eq.edu.au/SiteCollectionImages/home-band1-left-bg.png');
        background-position: 0%;
        background-size: cover;
        background-repeat: no-repeat;
    
      }

}
